.platNefaste {
    display: flex;
    flex-direction: row;
}

.koCo2 {
    padding-left:.5rem;
    font-weight: medium;
    font-style: italic;
}


.nbjours {
    font-size: 30px;
    font-weight: bold;
    color: rgb(144, 17, 17);
}

.scoreVulg {
    height: 8px;
    border-radius: 10px;
}

.scoreVulgEchelle {
    height: 10px;
    background: linear-gradient(to right,rgb(22, 192, 31),orange,  red);
    border-radius: 10px;
    display: flex;
}

.ScoreDetail {
    border-left: 1px solid rgb(61, 61, 97);
    padding-top: 5px;
    padding-bottom: 0px;
}

.EchelleValeurs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.valeursEch {
    font-size: small;
}

.explications {
    text-align: center;
    font-size: 10px;
    bottom: 0;
}

.textVulg {
    text-align: center;
}
