@import '../components/design/ui.scss';


.bouton {
  @include boutonSite;
  &.mb_1rem {
    margin-bottom: 1rem;
  }
}


.encartBilan {
  @include encart; // texte ul and li inside encart jeux
  p{
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
  }
  .Score {
      background-color: red;
      align-self: center;
      color:white;
  }
}