.platNefaste {
  display: flex;
  flex-direction: row;
}

.koCo2 {
  padding-left: 0.5rem;
  font-weight: medium;
  font-style: italic;
}

.nbjours {
  font-size: 30px;
  font-weight: bold;
  color: rgb(144, 17, 17);
}

.scoreVulg {
  height: 8px;
  border-radius: 10px;
}

.scoreVulgEchelle {
  height: 10px;
  background: linear-gradient(to right, rgb(22, 192, 31), orange, red);
  border-radius: 10px;
  display: flex;
  animation: slideRight 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.ScoreDetail {
  border-left: 1px solid rgb(61, 61, 97);
  padding-top: 5px;
  padding-bottom: 0px;
}

.EchelleValeurs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.valeursEch {
  font-size: small;
}

.explications {
  text-align: center;
  font-size: 10px;
  bottom: 0;
}

.textVulg {
  text-align: center;
}

.encartBilan {
  animation: slideDown 1s;
}

.info {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

@keyframes slideDown {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.imgiconLamp {
  animation: animIcon1 4s;
  animation-iteration-count: infinite;
}

@keyframes animIcon1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 2;
  }
  100% {
    opacity: 4;
  }
}

.imgiconSuv {
  z-index: 2;
  position: absolute;
  animation: animIcon2 0.3s;
  animation: animIcon3 40s;
  animation-iteration-count: infinite;
  padding-bottom: 0;
  margin-top: 20px;
  width: 100px;
  text-align: center;
}

@keyframes animIcon2 {
  from {
    transform: translateY(-2px);
    transform: translateX(0);
  }
  to {
    transform: translateY(0);
    transform: translateX(200px);
  }
}

@keyframes animIcon3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(70px);
  }
}

.animSuv {
  display: flex;
  background: linear-gradient(
    to top,
    green,
    grey,
    rgb(94, 93, 93),
    rgb(169, 197, 241),
    rgb(213, 229, 255)
  );
  border-radius: 5px;
}

.contRoad {
  z-index: 2;
  color: black;
  padding: 0px;
  margin-top: 75px;
  overflow: hidden;
  font-size: 50px;
  font-weight: bold;
}

.road {
  display: inline-block;
  padding-right: 2em;
  padding-left: 100%;
  white-space: nowrap;
  animation: defilement-rtl 50s infinite linear;
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.chicken {
  font-size: 25px;
  vertical-align: 15px;
}

.borne {
  color: white;
}

.road2 {
  position: relative;
  color: green;
  z-index: 3;
  display: inline-block;
  padding-right: 2em;
  padding-left: 100%;
  white-space: nowrap;
  animation: defilement-rtl 60s infinite linear;
}
