@import "../components/design/ui.scss";

h2.titreJeux {
  font-size: $typoM;
  margin-bottom: 1.5rem;
  font-family: $typoSecondaire;
  color: $colorSecondary;
  span {
    background-color: white;
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 50%;
    width: 3rem;
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
  }
  &.gameOver {
    font-size: $typoL;
    padding: 1.3rem;
    text-align: center;
  }
}

.dish {
  width: 60%;
  margin: 2rem auto;
}

#bip {
  font-family: $typoSecondaire;
  font-size: $typoM;
  color: $colorSecondary;
  top: -2rem;
  right: -2rem;
  position: relative;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  width: fit-content;
  float: right;
  font-weight: 500;
  border-radius: 15px;
}
