* {
    font-size: 1em;
    box-sizing: border-box;
    
  }
  
  body {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
  }
  .homePage {
      opacity: 0.07;
  }
  

  


@media screen and (max-width:380px){
    .intro{
        margin-right: auto;
        margin-left: auto;
        width: 250px;
        position: absolute;
        left: 70px;
        right: 70px;
        opacity: inherit;
        top: 150px;
    }
    #container {
        height: auto;
        margin-top: 30px;
        width: 250px;
        opacity: initial;
    }
    .pic-1, .pic-2, .pic-3, .pic-4{
        width: 100px;
        height: 100px;
    }
    #button-welcome{
        width: 100px;
        align-self: center;
        position:absolute;
        z-index: 1;
        top: 150px;
    }
    
    
}



.intro {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    right: 50%;
    
}

#button-welcome{
    width: 100px;
    align-self: center;
    position:absolute;
    z-index: 1;
    top: 135px;
}
#title-welcome {
    
}
.enter {
    
    animation-duration: 1s;
    animation-name: slide;
}

@keyframes slide {
    from {
        transform: scale(1)
    }
    25% {
        transform: scale(0.5)
    }
    50% {
        transform: scale(3)
    }
    to {
        transform: scale(0) rotate(180deg);
        
    }
}
#container{
    margin-left: auto;
    width: 400px;
    left: calc(50% auto);
    position: absolute;
    
}
.pic-1, .pic-3 {
    padding-right: 2px;
}
.pic-2, .pic-4 {
    padding-left: 2px;
}