/* 
  .homePage {
      opacity: 0.01;
  }
  
  @media screen and (max-width:380px){
    .intro{
        margin-right: auto;
        margin-left: auto;
        width: 200px;
    }
    #container {
        height: auto;
        margin-top: 30px;
        
    }
    .pic-1, .pic-2, .pic-3, .pic-4{
        width: 100px;
        height: 100px;
    }
}
 @media screen and (min-width:380px){
    #container {
        width: 200px;
    }
    .pic-1, .pic-2, .pic-3, .pic-4{
        width: 100px;
        height: 100px;
    }
} 
.App {
    background-color: honeydew;
}

.intro {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: auto;
}

#button-welcome{
    
    align-self: center;
    margin: auto;
    z-index: 1;
    
}
#title-welcome {
    
}
.enter {
    
    animation-duration: 1s;
    animation-name: slide;
}

@keyframes slide {
    from {
        transform: scale(1)
    }
    25% {
        transform: scale(0.5)
    }
    50% {
        transform: scale(3)
    }
    to {
        transform: scale(0) rotate(180deg);
        
    }
}
#container{
    margin: auto;
}
.pic-1, .pic-3 {
    padding-right: 2px;
}
.pic-2, .pic-4 {
    padding-left: 2px;
} */
