/*================================*/
/*=== Partie sur le Swipe Menu ===*/
/*================================*/
/* Menu burger */
#menu-burger {
  cursor: pointer;
  z-index: 6666;
}
#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {
  width: 32px;
  height: 5px;
  background-color: rgb(18 44 100);
  margin: 6px 0;
  transition: 0.4s;
}
#menu-burger:hover {
  opacity: 0.75;
  transition: 0.5s;
}
#menu-burger.clicked .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
#menu-burger.clicked .bar2 {
  opacity: 0;
}
#menu-burger.clicked .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
