@import "./design/ui.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 210px;
  border-radius: 10px;
  margin: 20px;
  height: 250px;
  box-shadow: 0px 1px 3px grey;
  background-color: $colorBack;
  padding: 1.3rem;
}
.card p {
  margin: 0px;
  padding: 0px;
  font-size: $typoS;
  &.titreCard {
    font-weight: 500;
    font-size: $typoM;
    border-bottom: 1px solid $colorSecondary;
    padding-bottom: 0.6rem;
  }
}
.pea {
  font-size: 3rem;
}
.card span {
  white-space: nowrap;
}
