.citation {
	display: flex;
	flex-direction: column;
	border: 5px solid #333;
	margin-top: 20px; 
	
}
.fact {
	margin-top: 0px;
}

.fact-logo {
	max-height: 100px;
	max-width: 100px;
	align-self: center;
}