.footer {
  position: fixed;
  bottom: 0px;
  background-color: white;
  max-width: 100%;
  box-shadow: rgb(231, 231, 231) 10px -5px 10px;
  width: 100%;
  transition: position 0.2s ease-in;
  margin-top: 50px;
}

.footer.not-fixed {
  position: relative;
  top: -180px;
  margin-top: 280px;
}

input {
  height: 50px;
  color: black;
  background-color: rgb(243, 243, 243);
  border-radius: 5px 0px 0px 5px;
  width: 100%;
  padding: 1rem;
  border: 1px solid;
}
.searchbutton {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid;
  width: 2em;
}
::placeholder {
  font-size: 1.2em;
}
.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.search {
  display: flex;
  width: 100%;
}
.noradius {
  border: 1px solid;
  width: 2em;
}
