.footer {
  /* position: fixed; */
  bottom: -1px;
  background-color: white;
  max-width: 100%;
  box-shadow: rgb(231, 231, 231) 10px -5px 10px;
  width: 100%;
}

input {
  height: 50px;
  color: black;
  background-color: rgb(243, 243, 243);
  border-radius: 5px 5px 5px 5px;
  width: 100%;
  padding: 1rem;
  border: 1px solid;
}

::placeholder {
  font-size: 1.2em;
}
.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}