#header {
  height: 66px;
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: white;
  box-shadow: 0px 0px 50px black;
  padding-right: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
