/* Taille du logo dans le haeder */
#header .logosite {
  height: 36px;
  margin-left: 1rem;
  font-size: 2em;
}

#header .titre a,
#home .titre a {
  padding: 0px;
  text-decoration: none;
}

.logosite {
  height: 66px;
}

#home .titre {
  font-size: 3em;
  color: red;
}

.identity {
  display: flex;
}
