@import "./design/ui.scss";

.solution {
  @include encart;

  img {
    width: 250px;
    margin-bottom: 10px;
    border-radius: 20px;
    align-self: center;
  }

  h3 {
    text-align: center;
  }

  p {
    text-align: justify;
  }

  a {
    text-align: center;
    color: $colorPrimary;
  }
}
