.button{
  background-color: #4CAF50; 
  border:none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: solid;
  border-color: honeydew;
  border-radius: 20px;
}
.button:hover {
    transition-duration: 0.4s;
    background-color: green;
    border: solid;
    border-color: black;
    
}