
@mixin boutonSite {
    font-weight: 400;
    font-size: 1.3em;
    padding: 1rem 2rem;
    margin-top: 1rem;
    text-decoration: none;
    background-color: $colorPrimary;
    color: white;
    border-radius: 10px;
    position: relative;
    transition: all 0.2s ease-in;
    font-family:$typoSecondaire;
    text-align: center;
    &:focus{
        background:lighten($colorPrimary,15%);
    }
}
