@mixin boutonSite {
  font-weight: 400;
  font-size: 1em;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: $colorPrimary;
  color: white;
  border-radius: 10px;
  position: relative;
  transition: all 0.2s ease-in;
  font-family: $typoSecondaire;
  text-align: center;
  &.off {
    opacity: 50%;
  }
  &:focus {
    background: lighten($colorPrimary, 15%);
  }
}
