// Font-family
$typoPrimary : "Montserrat Subrayada", sans-serif;
$typoSecondaire : "Roboto", sans-serif;

// Size typo
$typoXXL : 230%;
$typoXL: 1.5rem;
$typoM : 1.2rem;
$typoS :  1rem;
$typoXS :  .8rem;


// Colors
$colorPrimary :#38b858;
$colorSecondary :#112c64;
$colorBack : #c4c4c436;
