@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

// Font-family
$typoPrimary: "Montserrat Subrayada", sans-serif;
$typoSecondaire: "Roboto", sans-serif;

// Size typo
$typoXXL: 230%;
$typoXL: 1.5rem;
$typoL: 1.3rem;
$typoM: 1rem;
$typoS: 1rem;
$typoXS: 0.8rem;

// Colors
$colorPrimary: #38b858;
$colorSecondary: #112c64;
$colorBack: #c4c4c436;
$colorDanger: red;
